<div style="text-align: center;">
    
<h2>Testing</h2>
<p>Working porjects</p>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span> 
<br><br><br>
<a href="/employee" class="btn  btn-success">Enter</a>
</div>